AUTOMATION_ENV=test
AUTOMATION_API_BASE_URL=
AUTOMATION_API_AUTH_TOKEN=
AUTOMATION_API_TIMEOUT_SECONDS=60
AUTOMATION_API_RETRY_ATTEMPTS=2
AUTOMATION_API_RETRY_BACKOFF_SECONDS=0.25
AUTOMATION_PRIVILEGED_EMAIL=
AUTOMATION_PRIVILEGED_PASSWORD=
AUTOMATION_RESTRICTED_EMAIL=
AUTOMATION_RESTRICTED_PASSWORD=
AUTOMATION_DB_DRIVER=mysql
AUTOMATION_DB_HOST=
AUTOMATION_DB_PORT=3306
AUTOMATION_DB_NAME=
AUTOMATION_DB_USERNAME=
AUTOMATION_DB_PASSWORD=
AUTOMATION_DB_DSN=
AUTOMATION_FACTOR_COMBO_AGENT_UID=
AUTOMATION_FACTOR_COMBO_AGENT_BASE_URL=
AUTOMATION_FACTOR_COMBO_POLL_INTERVAL_SECONDS=5
AUTOMATION_FACTOR_COMBO_POLL_TIMEOUT_SECONDS=600
AUTOMATION_FACTOR_COMBO_MAX_RESEARCH_ROUNDS=2
AUTOMATION_FACTOR_COMBO_WORKER_CONTRACTS=false
AUTOMATION_FACTOR_COMBO_CLEANUP_TEST_DATA=false
AUTOMATION_FACTOR_COMBO_REFRESH_POLL_INTERVAL_SECONDS=10
AUTOMATION_FACTOR_COMBO_REFRESH_POLL_TIMEOUT_SECONDS=10800
AUTOMATION_FACTOR_COMBO_MAX_REFRESH_POLLS=1080
AUTOMATION_FACTOR_COMBO_MAX_TECHNICAL_RETRIES=2
