AUTOMATION_ENV=test
AUTOMATION_API_BASE_URL=
AUTOMATION_API_AUTH_TOKEN=
AUTOMATION_API_TIMEOUT_SECONDS=30
AUTOMATION_API_RETRY_ATTEMPTS=2
AUTOMATION_API_RETRY_BACKOFF_SECONDS=0.25
AUTOMATION_DB_DRIVER=mysql
AUTOMATION_DB_HOST=
AUTOMATION_DB_PORT=3306
AUTOMATION_DB_NAME=
AUTOMATION_DB_USERNAME=
AUTOMATION_DB_PASSWORD=
AUTOMATION_DB_DSN=
